<div class="text-center" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
    <h4>
        職業エンジニアの不安を解消し、</br>
        未来を照らすコミュニティ
    </h4>
    <h1>
        SEARCH LIGHT
    </h1>
    <div class="row">
        <div class="span2"></div>
        <div class="span4">
            <%= image_tag "/top_image.png" %>
        </div>
        <div class="span4">
            <strong>
            <p>
            </br>
            </br>
            自分の才能がわからない</br>
            </br>
            いけてるエンジニアとのつながりがない</br>
            </br>
            仕事以外で開発をしたことがない</br>
            </br>
            </br>
            このままで大丈夫・・・・？
            </p>
            </strong>
        </div>
      <div class="span2"></div>
    </div>
    <strong>
    <p>
    </br>
    </br>
        同じ悩みを持つエンジニアがあなたの数歩先の未来を照らします！
    </br>　　
    </p>
    </strong>
    <div class="row">
        <div class="span4">
            登録情報が名刺代わりに使える
        </div>
        <div class="span4">
            イベントやサイト上での交流を可視化できる
        </div>
        <div class="span4">
            気になる仲間の開発に参加できる
        </div>
    </div>
    </br>
    </br>
    いますぐSEARCH LIGHTをはじめよう！</br>
    <%= link_to "新規アカウント登録", {:controller => "users", :action => "new"}, {:class => "btn btn-large btn-primary" }%>
</div>
