<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Store</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!--　ナビゲーションバー　-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">
              SEARCH LIGHT
            </a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li><a href="#">ログイン</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--　ナビゲーションバー　-->   
<!--　メインコンテンツ　-->
<div class="container">
    <div class="row">
        <div class="span12"><%= yield %></div>
    </div>
</div>
<!--　メインコンテンツ -->
<!--　フッター　-->
<hr>
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            <div class="span9">
                <a href="#">運営元について</a>
                <a href="#">プライバシーポリシー</a>
            </div>
            <div class="span3">
                Service by <a href=#>ロックオフ</a>
            </div>
        </div>
    </div>
</div>
<!--　フッター　-->

</body>
</html>
